<div id="welcomeContainer" style="display: none;">
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/NG4M.png"/>
        <span id="welcomeHeader">BIENVENUE SUR Next Gen 4 Minecraft</span>
        <span id="welcomeDescription">Bienvenue sur <b>NG4M</b> jeune aventurier. Ton aventure va pouvoir commencer dans quelques instants, mais avant, je t'invite à lire ce texte pour te rappeler certains points. Tout d'abord, nous rappelons que NG4M est un network ouvert uniquement aux comptes premiums migrés sous Microsoft. Par conséquent, vous devez posséder un compte Minecraft migré sous Microsoft. Ensuite, nous rappelons que pour tout support, vous pouvez ouvrir un ticket sur notre site ou encore passez sur notre TeamSpeak, qui vous permettra d'avoir une relation directe avec nos staffs.</span>
        <br>
        <span id="welcomeDescCTA">Ceci étant dit, je te souhaite un bon jeu sur Next Gen 4 Minecraft !.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>